# Klasörlerin kendisini takip et ama içeriğini yoksay
veri_yapilari_2/bin/*
!veri_yapilari_2/bin/.gitkeep

veri_yapilari_2/lib/*
!veri_yapilari_2/lib/.gitkeep

# Genel derleme ve sistem dosyalarını engellemeye devam et
*.exe
*.o
*.obj
.vs/
.vscode/
.DS_Store